html {
  background-color: #fcecd2 !important;
  font-family: poppins-bold;
  /* text-transform: uppercase; */
}
.color-fondo{
  background-color: #fcecd2;
}
.font-poppins{
  font-family: poppins-bold;
}
@font-face {
  font-family: 'Steinfeld-demo';
  src: url("./fonts/SteinfeldDEMO.ttf") format("truetype");
}

@font-face{
  font-family: 'poppins-bold';
  src: url("./fonts/Poppins-Bold.ttf") format("truetype")
}

.custom-class {
  background: rgb(var(--v-theme-surface));
  color: rgba(var(--v-theme-on-surface), 0.9);
}

.borde-imagen {
  border: 2px solid #f88905;
  border-radius: 5px;
}
/* #f3d595  color beige claro
   #f9cf57 color beige mas oscuro*/
